<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.markokaestner.ofshowtasks</string>
	<key>connections</key>
	<dict>
		<key>417EDFE4-EEA3-4586-BACB-72B5CD1488FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5DD4926-5D54-453B-BED2-32F487C1D2D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77EFD4DB-000A-42DA-BA7D-84CF10F8B8F1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Mark task completed</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BC714A1-1BDA-4985-AB6E-200C739D9FAD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Flag task</string>
			</dict>
		</array>
		<key>5BC714A1-1BDA-4985-AB6E-200C739D9FAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0066F3FF-A938-4126-A2D0-2517379BE8E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77EFD4DB-000A-42DA-BA7D-84CF10F8B8F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3F9548F-3F21-4D80-B36B-AF8B1D4D989D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mk</string>
	<key>description</key>
	<string>Show tasks of a perspective and work with them</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OF: Task Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>osascript flagTask.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5BC714A1-1BDA-4985-AB6E-200C739D9FAD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Task flagged</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0066F3FF-A938-4126-A2D0-2517379BE8E9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>osascript showTask.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5DD4926-5D54-453B-BED2-32F487C1D2D2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Task completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A3F9548F-3F21-4D80-B36B-AF8B1D4D989D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>oftasks</string>
				<key>runningsubtext</key>
				<string>Loading Tasks...</string>
				<key>script</key>
				<string>osascript getTasks.scpt {query} </string>
				<key>subtext</key>
				<string>Enter perspective</string>
				<key>title</key>
				<string>Show OmniFocus Tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>417EDFE4-EEA3-4586-BACB-72B5CD1488FA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>osascript completeTask.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77EFD4DB-000A-42DA-BA7D-84CF10F8B8F1</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0066F3FF-A938-4126-A2D0-2517379BE8E9</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>417EDFE4-EEA3-4586-BACB-72B5CD1488FA</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>5BC714A1-1BDA-4985-AB6E-200C739D9FAD</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>77EFD4DB-000A-42DA-BA7D-84CF10F8B8F1</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A3F9548F-3F21-4D80-B36B-AF8B1D4D989D</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>F5DD4926-5D54-453B-BED2-32F487C1D2D2</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://markokaestner.com</string>
</dict>
</plist>
